* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;

}

.container {
    width: 1320px;
    margin: 0 auto;
}

body {
    background: #070824;
}

.row {
    display: flex;
    align-items: center;

}

/*  */

.logu {
    width: 10%;
}

.menu {
    width: 70%;
    text-align: right;
}

.btn {
    width: 20%;

}

.btn .btnc {
    background: transparent;
    border: 1px solid rgba(102, 68, 68, 0.527);
    border-radius: 20px;
    padding: 10px 25px;
    color: #93F2FF;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transition: .4s;


}


.btn .btnc:hover {
    background: #93F2FF;
    color: black;
}

/*  */

#header {
    padding: 60px 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 15px;
    font-size: 14px;
    line-height: 14px;
    color: #D7D9FF;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: .4s;
    position: relative;

}

.menu ul li a::before {
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-image: linear-gradient(to right, #090925, #93F2FF, #090925);
    opacity: 0;
    visibility: hidden;

}

.menu ul li a:hover {
    color: #93F2FF;
}

.menu ul li a:hover::before {
    opacity: 1;
    visibility: visible;
    width: 50px;
}

/* section 1 ses */
/*  */

.bannerflex {
    display: flex;
    align-items: center;
}

.bannerleft {
    width: 60%;
    padding-left: 80px;

}

.bannerrigth {
    width: 40%;

}

.bannerrigth img {
    display: block;
}

.bannerleft h1 span {
    color: #93F2FF;
}

.bannerleft h1 {
    color: #D7D9FF;
    font-size: 70px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;


}

/*  */
.bannerleft h3 {
    color: #D7D9FF;
    font-size: 16px;
    width: 190px;
    height: 25px;
    font-family: "Montserrat", sans-serif;
    position: relative;



}

.ttt {
    position: absolute;
    top: -5px;
    left: -5px;


}

.yyy {
    position: absolute;
    bottom: -4px;
    left: -5px;
}


/*  */

.hhhhg {
    position: absolute;
    bottom: -4px;
}

.rtrr {
    position: absolute;
    top: -3px;
}

/* .bannerleft h3::after {
   position: absolute;
        width: 10px;
        height: 5px;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        color:red ; */

.hhk {
    display: flex;
}


.hhk i {
    background: transparent;
    border: 1px solid rgba(102, 68, 68, 0.527);
    border-radius: 20px;
    padding: 5px 10px;
    ;
    color: white;
    margin: 0 10px;
    font-size: 18px;
}

.hhk .bnn i {
    background: #5a5757de;
    border-radius: 20px;
}



.bannerleft .hjh {
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 10px 10px;
    position: absolute;
    margin-top: 70px;


}

.bannerleft .hjh:hover {
    background: #93F2FF;
    color: #0c0c0d;
}

.bnbb {
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 50px;
    background: #93F2FF;
    color: #070824;
    position: absolute;
    margin-top: 70px;
    margin-left: 200px;
    transition: .4s;


}

.bnbb:hover {
    background: #070824;
    color: #D7D9FF;
}

.hghg {
    color: rgb(237, 226, 226);
    margin-top: 130px;
    padding: 0 10px;
    position: absolute;

}


.hjhj {
    position: relative;
}

.hjhj i {
    padding: 5px 10px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid rgba(35, 34, 34, 0.78);
    position: absolute;
    left: 100px;
    top: 129px;
    color: #93F2FF;

}

.bannerleft .bnbb {}

.bannercart {
    background: url(../images/Banner\ Area.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;

}

/* section 3 */

#boxpart {
    padding: 55px 0;

}


.hghty h4 {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;


}

.hghty h3 {
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-family: "Montserrat", sans-serif;


}

.hghty {
    position: relative;
}

/*  */
.ttt1 {
    position: absolute;
    top: -2px;
    left: 539px;
}




.yyy1 {
    position: absolute;
    bottom: 55px;
    left: 539px;
}


/*  */

.hhhhg1 {
    position: absolute;
    bottom: 55px;
}

.rtrr1 {
    position: absolute;
    top: -3px;
}

/*  */
.rowf {
    display: flex;
    justify-content: space-between;
}

.div {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.kkk1 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.kkk1 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);
}


.kkk1 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 270px;
    height: 26px;
}

.kkk1 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;
}

/*  */
.kkk2 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/*  */



.kkk2 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);
}


.kkk2 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 209px;
    height: 25px;
    line-height: 24.6px;
}

.kkk2 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;
}

/*  */
.kkk3 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/*  */




.kkk3 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);
}


.kkk3 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 231px;
    height: 25px;
}

.kkk3 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;
}

/* div end */
/* div222 start */



.div01 {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.kkk11 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.kkk11 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);
}


.kkk11 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 306px;
    height: 25px;
}

.kkk11 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;
}

/*  */
.kkk22 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/*  */



.kkk22 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);
}


.kkk22 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 279px;
    height: 25px;
    line-height: 24.6px;
}

.kkk22 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;
}

/*  */
.kkk33 {
    width: 418.27px;
    height: 422.71px;
    background: url(../images/Rectangle\ 4649.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/*  */




.kkk33 img {
    position: absolute;
    top: 25%;
    left: 44%;
    transform: translate(-30%, -44%);

}


.kkk33 h3 {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: white;
    font-size: 21.55px;
    font-family: "Montserrat", sans-serif;
    width: 272px;
    height: 25px;

}

.kkk33 h5 {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-30%, -44%);
    color: #D7D9FF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 297.23px;
    height: 84px;

}

/* section3end */

/* section4start */
#Awesome {
    padding: 50px 0;

}

.my {
    position: relative;
}

/*  */
.ttt11 {
    position: absolute;
    top: -2px;

    left: 570px;
}





.yyy11 {
    position: absolute;
    bottom: 55px;
    left: 570px;
}


/*  */

.hhhhg11 {
    position: absolute;
    bottom: 55px;
}

.rtrr11 {
    position: absolute;
    top: -3px;
}


.my h5 {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;


}

.my h3 {
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-family: "Montserrat", sans-serif;


}

.aa {
    display: flex;

    width: 952px;
    padding-top: 20px;
    padding-left: 280px;

}

.aa a {
    color: rgb(237, 225, 225);
    align-items: center;
    font-size: 16px;
    line-height: 10px;
    font-family: "Montserrat", sans-serif;
    padding: 15px 15px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid black;
    margin: 0 20px;
    transition: .4s;



}

.aa a:hover {
    background: #93F2FF;
    color: #070824;
}

/*  */
.bnm {
    display: flex;
    justify-content: space-between;
}

.lkl img {
    padding: 40px 0;
}

.lkl h5 {
    color: white;
    line-height: 14px;
    width: 300px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.lkl h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
}



/*  */

.lkl2 img {
    padding: 40px 0;
}

/*  */
.lkl2 h5 {
    color: white;
    line-height: 14px;
    width: 300px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.lkl2 h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
}

/*  */

.bnm22 {
    display: flex;
    justify-content: space-between;
}

.lkl22 img {
    padding: 40px 0;
}

.lkl22 h5 {
    color: white;
    line-height: 14px;
    width: 300px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.lkl22 h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
}



/*  */
.lkl222 img {
    padding: 40px 0;
}

/*  */
.lkl222 h5 {
    color: white;
    line-height: 14px;
    width: 300px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
}

.lkl222 h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
}

/* section4end */




/* section5start*/

#hhhjjhjjh {
    padding: 50px 0;
    background: url(../images/yyyy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}





/*  */
.mytt {
    position: relative;
    padding: 60px;
}

/*  */
.ttt112 {
    position: relative;
    top: -8px;
    left: 14px;

}



.yyy112 {
    position: relative;
    top: 14px;
    left: 2px;
}


/*  */

.hhhhg112 {
    position: absolute;
    bottom: 115px;
}

.rtrr112 {
    position: absolute;
    top: 55px;
}


.mytt h5 {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;


}

.mytt h3 {
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-family: "Montserrat", sans-serif;


}


/* hhjkjhskkjjkkfggkj */


.klklk {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.kkkoo1 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;
    position: relative;
}

/*  */

.kkkoo1 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}


/*  */
.kkkoo1 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

.kkkoo1 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}


.kkkoo2 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;

    position: relative;
}

.kkkoo2 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}

/*  */

.kkkoo2 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

.kkkoo2 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}

.kkkoo3 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;
    position: relative;
}

.kkkoo3 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}

.kkkoo3 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

.kkkoo3 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}

.kkkoo4 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;
    position: relative;
}

.kkkoo4 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}



.kkkoo4 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

.kkkoo4 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}

.kkkoo5 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;
    position: relative;
}

.kkkoo5 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}


.kkkoo5 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

.kkkoo5 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}

.kkkoo6 {
    background: url(../images/Counter\ Image\ \(6\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 195px;
    height: 167.7px;
    position: relative;
}

.kkkoo6 img {
    position: absolute;
    top: 37%;
    left: 44%;
    transform: translate(-30%, -44%);

}

.kkkoo6 h5 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;

}

/*  */
.kkkoo6 h6 {
    position: absolute;
    top: 107%;
    left: 84%;
    transform: translate(-84%, -28%);
    color: white;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 165px;
    height: 21px;
}


/*  */
.kkkklq {
    background: url(../images/Group\ 864.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 655px;
    height: 431px;
    position: relative;
    margin: 0px -46px;


}

.kkkklq h3 {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    line-height: 37px;
}

/*  */
.mmm {
    position: absolute;
    top: 40%;
    left: 43%;
    transform: translate(-40%, -43%);
    color: white;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    line-height: 18px;



}

.mmm {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 400px;

}

.gjgj {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    position: absolute;
    top: 46%;
    left: 41%;
    transform: translate(-46%, -41%);
    width: 331px;
    height: 25px;
    color: white;


}

/*  */
.lk {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    position: absolute;
    top: 53%;
    left: 32%;
    transform: translate(-53%, -32%);
    width: 180px;
    height: 20px;
    color: white;

}

.ggj {
    color: #93F2FF;
}



/* section5 end*/




/*  */
.mmm33 {
    position: relative;
    top: 67%;
    left: 42%;
    transform: translate(-40%, -43%);
    color: white;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    line-height: 18px;
}

/*  */
.mmm33 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 400px;

}

/*  */
.gjgj17 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    position: absolute;
    top: 76%;
    left: 41%;
    transform: translate(-46%, -41%);
    width: 331px;
    height: 25px;
    color: white;


}

/*  */
.lk67 {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    position: absolute;
    top: 83%;
    left: 32%;
    transform: translate(-53%, -32%);
    width: 180px;
    height: 20px;
    color: white;

}

.ggj33 {
    color: #93F2FF;
}


/* fdghgfh */
.hhjh {
    display: flex;
    justify-content: space-between;
    width: 1351px;
    height: 432px;

}

.kkkklq2 {
    background: url(../images/Group\ 864.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 645px;
    height: 431px;
    position: relative;

}

/*  */
.kkkklq2 h3 {
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-30%, -80%);
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    line-height: 37px;
    width: 241px;
    height: 38px;
}

/*  */
.lolo {
    display: flex;
    justify-content: center;
    position: relative;



}

/*  */
.ttt11q {
    position: absolute;
    top: -5px;
    left: -10px;

}



.yyy11q {
    position: absolute;
    top: 22px;
    left: -10px;
}


/*  */

.hhhhg11q {
    position: absolute;
    bottom: -7px;
}

.rtrr11q {
    position: absolute;
    position: absolute;
    top: -3px;
}


/*  */
.klklkrt {
    position: relative;



}

.klklkrt h5 {
    position: absolute;
    left: -820.3px;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 24px;
    width: 288px;
    height: 25px;


}


.klklkrt h4 {
    position: absolute;
    padding: 41px 0;
    left: -820.3px;
    color: white;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    line-height: 59px;
    width: 559px;
    height: 59px;


}

.jkj {
    position: relative;
}

.jkj h6 {
    position: absolute;
    padding: 41px 0;
    width: 730px;
    height: 120px;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    left: 100px;


}

/* jkjg */


#hjhjhjyu {
    padding: 250px 0;

}

.gkgk {
    display: flex;
    justify-content: space-between;
    width: 1720px;
    height: 657.03px;
    position: absolute;
    margin-left: -206px;



}

.hkhr56 {
    background: url(../images/Testimonialo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 553.78px;
    height: 657.03px;


}


.hkhr56 h3 {
    color: white;
    position: absolute;
    top: 427px;
    left: 50px;
    font-size: 45.05px;
    line-height: 55.4px;
    font-family: "Montserrat", sans-serif;
}

.hkhr56 h5 {
    color: #D7D9FF;
    position: absolute;
    top: 500px;
    left: 50px;
    font-size: 15.02px;
    line-height: 26.3px;
    font-family: "Montserrat", sans-serif;
    width: 404.54px;
    height: 47.87px;
}

.kioii .tytyt {
    position: absolute;
    top: 580px;
    left: 50px;
    font-size: 15.02px;
    line-height: 26.3px;
    color: white;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px 10px;


}

.kioii .kjhh {
    position: absolute;
    top: 580px;
    left: 90px;
    font-size: 15.02px;
    line-height: 26.3px;
    color: white;
    padding: 0 50px;
    border-radius: 50px;
    border: 1px solid rgba(24, 24, 24, 0.853);
    padding: 5px 10px;


}

.k7k7 {
    background: url(../images/Testimonialo\ \(2\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 553.78px;
    height: 657.03px;



}

.llll {
    display: flex;
    padding: 90px 0;



}

.llll h3 {
    color: white;
    font-size: 30px;
    line-height: 37.5px;
    font-family: "Montserrat", sans-serif;
    padding-left: 50px;
}

.k7k7 h5 {
    color: white;
    font-size: 20px;
    line-height: 36px;
    font-family: "Poppins", sans-serif;
    padding-left: 50px;
    padding-top: 100px;
    width: 459px;


}


.vbvb {
    display: flex;
}

.kokok img {


    padding-left: 50px;
    padding-top: 50px;



}

.hhhkkekj h3 {
    color: white;
    font-size: 16px;
    padding-top: 50px;
    padding-left: 10px;
    line-height: 24.8px;

}

.hhhkkekj h5 {
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 0px;

}




.jjjlj i {
    color: yellow;

    padding: 10px 10px;



}

.dhfgh23 {
    background: url(../images/Testimonialo\ \(3\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 553.78px;
    height: 657.03px;


}

.llll2 {
    display: flex;
    padding: 90px 0;



}

.llll2 h3 {
    color: white;
    font-size: 30px;
    line-height: 37.5px;
    font-family: "Montserrat", sans-serif;
    padding-left: 50px;
}

.dhfgh23 h2 {
    color: white;
    font-size: 20px;
    line-height: 36px;
    width: 459px;
    font-family: "Poppins", sans-serif;
    padding-top: 90px;

    padding-left: 50px;
}


.vbvb2 {
    display: flex;
}

.kokok2 img {


    padding-left: 50px;
    padding-top: 50px;



}

.hhhkkekj2 h3 {
    color: white;
    font-size: 16px;
    padding-top: 50px;
    padding-left: 10px;
    line-height: 24.8px;

}

.hhhkkekj2 h5 {
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;

}




.jjjlj2 i {
    color: yellow;

    padding: 10px 10px;



}

/* end */


#uyyyyre {
    padding: 700px 0;
}

/*  sextion 5*/

/*  */

.mytt44 {
    position: relative;
}

.ttt44 {
    position: absolute;
    top: 501px;
    left: 573px;

}



.yyy244 {
    position: absolute;
    top: 524px;
    left: 573px;


}

.hhhhg44 {
    position: absolute;
    bottom: 95px;
}



.rtrr42 {
    position: absolute;
    top: 500px;

}

.mytt44 h3 {
    color: aliceblue;
    padding-top: 42px;
    font-size: 48px;
    line-height: 59px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.mytt44 h5 {
    color: aliceblue;
    padding-top: 501px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    text-align: center;


}

/* div6 start  */
.bvbvb {
    padding: 50px 0;
    display: flex;
    align-items: center;



}

.lklkkkl1 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 10px 10px;
    position: relative;


}

.lklkkkl1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.lklkkkl2 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;
}

.lklkkkl2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lklkkkl3 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;
}

.lklkkkl3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lklkkkl4 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;
}

.lklkkkl4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lklkkkl5 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;
}

.lklkkkl5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lklkkkl6 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;

}

.lklkkkl6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.lklkkkl7 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;

}

.lklkkkl7 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lklkkkl8 {
    background: url(../images/Frame\ 72.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 308px;
    height: 145px;
    margin: 20px 10px;
    position: relative;

}

.lklkkkl8 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* div5 end */
/* section 5 start */




.myme {
    position: relative;
}

.kala1 {
    position: absolute;
    top: 81px;
    ;
    left: 573px;

}



.kala2 {
    position: absolute;
    top: 105px;
    left: 573px;


}

.kala3 {
    position: absolute;
    bottom: 95px;
}



.kala4 {
    position: absolute;
    top: 77px;

}




.myme h3 {
    color: aliceblue;
    padding-top: 42px;
    font-size: 48px;
    line-height: 59px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.myme h5 {
    color: aliceblue;
    padding-top: 83px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    text-align: center;


}

.ghgh {
    display: flex;
    justify-content: space-between;

}

.ereer1 {
    display: flex;
}

.ereer1 .fffrre1 {
    color: #93F2FF;
    padding: 10px 15px;
    background: rgba(51, 51, 52, 0.936);
    border-radius: 50px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    transition: .4s;
    font-weight: 500;
    margin: 0 10px;
    border: 1px solid black;
}

.ereer1 .fffrre1:hover {
    background: transparent;
    color: white;


}


.ereer1 .fffrre2 {
    color: #93F2FF;
    padding: 10px 15px;
    background: transparent;
    border-radius: 50px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgba(147, 144, 144, 0.885);
}

.ereer1 .fffrre2:hover {

    background: rgba(147, 144, 144, 0.277);
    color: aliceblue;
}

.ereer2 {

    display: flex;

}

.ereer2 .btpr1 {
    color: white;
    padding: 0 3px;
}

.ereer2 .btpr2 {
    color: #D7D9FF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

}

/*  */
.bnmer {
    display: flex;
    justify-content: space-between;
}

.lkler img {
    padding: 40px 0;
}


.lkler h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
    padding: 25px 0;
}



/*  */

.lkl2er img {
    padding: 40px 0;
}

/*  */


.lkl2er h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
    padding: 25px 0;
}

/*  */

.bnm22er {
    display: flex;
    justify-content: space-between;
}

.lkl22er img {
    padding: 40px 0;
}



.lkl22er h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
    padding: 25px 0;
}



/*  */
.lkl222er img {
    padding: 40px 0;
}

/*  */


.lkl222er h3 {
    color: white;
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    line-height: 52px;
    width: 645px;
    height: 104px;
    padding: 25px 0;
}


/* section 5end */
/* section6 start */

.mymee {
    position: relative;
}

.kala11 {
    position: absolute;
    top: 81px;

    left: 551px;

}



.kala22 {
    position: absolute;
    top: 105px;
    left: 551px;


}

.kala33 {
    position: absolute;
    bottom: 95px;
}



.kala44 {
    position: absolute;
    top: 77px;

}



.mymee h3 {
    color: aliceblue;
    padding-top: 42px;
    font-size: 48px;
    line-height: 59px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.mymee h5 {
    color: aliceblue;
    padding-top: 83px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Montserrat", sans-serif;
    text-align: center;


}

.dfdd {
    display: flex;
    justify-content: space-between;

}

.ghghg1 {
    background: url(../images/Rectangle\ 4655.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 870px;
    height: 794px;
}



.ghghg2 {
    margin: 41px 0;
    background: url(../images/Group\ 49.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 420px;
    height: 757px;
}


.ghghg1 h3 {
    color: white;
    padding-top: 38px;
    padding-left: 50px;
    font-size: 34px;
    line-height: 38.8px;
    width: 357.63px;
    height: 38.6px;
}

.input {

    padding-top: 58px;
    padding-left: 50px;


}

.inpt1 {


    background: #7d7d83;
    color: white;
    font-size: 20px;
    width: 43%;
    height: 45px;


}


.inpt2 {
    margin: 0 20px;
    font-size: 30px;
    background: #7d7d83;
    color: white;
    font-size: 20px;
    width: 43%;
    height: 45px;

}


.inpt3 {
    background: #7d7d83;
    font-size: 20px;
    width: 90%;
    height: 45px;
    color: white;
}

.inpt4 {
    background: #7d7d83;
    font-size: 20px;
    width: 90%;
    height: 45px;
    color: white;
}

.inpt5 {
    background: #7d7d83;
    font-size: 20px;
    width: 90%;
    height: 170px;
    color: white;
}

.hgfdsg {
    padding-top: 100px;
    padding-left: 50px;
}

.hgfdsg a {


    font-size: 20px;
    width: 90%;
    height: 45px;
    background: #93F2FF;
    border-radius: 50px;
    padding: 10px 10px;
    color: black;
    transition: .4s;
}

.hgfdsg a:hover {
    background: #049bafc5;
}



.ghghg {
    padding: 20px;
}

.ghghg img {
    padding: 20px 0;
}


.ghghg h3 {
    padding: 5px 0;
    font-size: 20px;
    line-height: 24.8px;
    font-family: "Montserrat", sans-serif;
    color: #D6DAF0;

}

.ghghg h4 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;
    width: 282px;


}

.ghghg h5 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}

.ghghg h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}


/* kjjk */
.ghghg3 {
    padding: 20px;
}

.ghghg3 h3 {
    padding: 5px 0;
    font-size: 20px;
    line-height: 24.8px;
    font-family: "Montserrat", sans-serif;
    color: #D6DAF0;

}

.ghghg3 h4 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;
    width: 282px;


}

.ghghg3 h5 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}

.ghghg3 h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}

/* rtrtr */
.ghghg4 {
    padding: 20px;
}

.ghghg4 h3 {
    padding: 5px 0;
    font-size: 20px;
    line-height: 24.8px;
    font-family: "Montserrat", sans-serif;
    color: #D6DAF0;

}

.ghghg4 h4 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;
    width: 282px;


}

.ghghg4 h5 {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}

.ghghg4 h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #D6DAF0;


}


.hjhg7 {
    padding: 30px 0;
}

.hghjei {

    padding: 10px 10px;
    border-radius: 50px;
    color: black;
    background: #93F2FF;
    transition: .4s;

}

.hghjei:hover {
    background: #024296cc;
}

/* section6 end */


#klklkkio {
    position: relative;
    bottom: 0;

}

.nnnbnb {
    background: url(../images/Footer\ 15\ Dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1156px;
    height: 865px;
    left: 50%;
    right: 50%;
    top: 537px;
    transform: translate(-50%, -50%);
    position: absolute;
    padding-left: 500px;
    padding-right: 500px;

}

.divbe {

    width: 1320px;
    height: 200px;
    background: #10102B;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding-left: 100px;
    padding-right: 100px;
    top: 28%;
    border: 1px solid rgba(133, 129, 129, 0.479);
}

.foter {
    display: flex;
    justify-content: space-between;
    width: 1098.94px;
    height: 72px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.gerew2 h3 {
    color: white;
    padding: 10px 20px;
    width: 470px;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;

}


.gerew3 {

    width: 538.97px;
    height: 72px;
    border: 1px solid bisque;
    border-radius: 50px;


}

.gerew3 {
    display: flex;
    justify-content: space-between;
}


.bntere {
    color: white;
    padding: 25px 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

}

.btnne0 {
    padding: 15px 20px;
    margin: 10px 10px;


}

.gghggg5656 {
    background: #93F2FF;
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;
    padding: 15px 20px;

}

.btnne0 i {
    color: rgb(20, 19, 19);
}

.gghggg5656:hover {
    background: #7d7d83;

}

/*  */
.jjjjkkj {
    background: #10102B;
    position: absolute;
    width: 1521px;
    height: 239px;
    top: 356px;
    left: 317px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(86, 83, 83, 0.454);
}

.ggg6767 ul li {
    display: inline-block;
    padding: 100px 30px;

}

.ggg6767 ul li a {


    color: aliceblue;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.ggg6767 i {
    color: aliceblue;
    font-size: 30px;
    padding: 100px 30px;

}

.hhhujh3 {
    background: #10102B;
    position: absolute;
    width: 1521px;
    height: 239px;
    top: 599px;
    left: 317px;
    display: flex;
    justify-content: space-between;

}

.iuu90 h3 {


    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 40px 30px;

}

.yyy6 {
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 40px 30px;
}

.yyy9 {
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 40px 30px;
}

.iuu901 {
    padding: 40px 30px;
}

.iuu902 {
    padding: 40px 30px;
}